In [3]:
conda install pandas

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Users/kimbaqueen/opt/anaconda3/envs/plotting_sentiments

  added / updated specs:
    - pandas


The following NEW packages will be INSTALLED:

  blas               pkgs/main/osx-64::blas-1.0-mkl
  bottleneck         pkgs/main/osx-64::bottleneck-1.3.5-py39h67323c0_0
  intel-openmp       pkgs/main/osx-64::intel-openmp-2021.4.0-hecd8cb5_3538
  mkl                pkgs/main/osx-64::mkl-2021.4.0-hecd8cb5_637
  mkl-service        pkgs/main/osx-64::mkl-service-2.4.0-py39h9ed2024_0
  mkl_fft            pkgs/main/osx-64::mkl_fft-1.3.1-py39h4ab4a9b_0
  mkl_random         pkgs/main/osx-64::mkl_random-1.2.2-py39hb2f4e1b_0
  numexpr            pkgs/main/osx-64::numexpr-2.8.3-py39h2e5f0a9_0
  numpy              pkgs/main/osx-64::numpy-1.23.1-py39h2e5f0a9_0
  numpy-base         pkgs/main/osx-64::numpy-base-1.23.1-py39h3b1a694_0
  pandas             pkgs/main/osx-64::pandas-1.4.3-py39he9d5cce_0


Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Retrieving notices: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [4]:
conda install numpy

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Retrieving notices: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [5]:
conda install matplotlib

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Users/kimbaqueen/opt/anaconda3/envs/plotting_sentiments

  added / updated specs:
    - matplotlib


The following NEW packages will be INSTALLED:

  brotli             pkgs/main/osx-64::brotli-1.0.9-hca72f7f_7
  brotli-bin         pkgs/main/osx-64::brotli-bin-1.0.9-hca72f7f_7
  cycler             pkgs/main/noarch::cycler-0.11.0-pyhd3eb1b0_0
  fonttools          pkgs/main/noarch::fonttools-4.25.0-pyhd3eb1b0_0
  freetype           pkgs/main/osx-64::freetype-2.11.0-hd8bbffd_0
  giflib             pkgs/main/osx-64::giflib-5.2.1-haf1e3a3_0
  jpeg               pkgs/main/osx-64::jpeg-9e-hca72f7f_0
  kiwisolver         pkgs/main/osx-64::kiwisolver-1.4.2-py39he9d5cce_0
  lcms2              pkgs/main/osx-64::lcms2-2.12-hf1fd2bf_0
  lerc               pkgs/main/osx-64::lerc-3.0-he9d5cce_0
  libbrotlicommon    pkgs/main/osx-64::libbrotlicommon-1.0.9-hca72f7f_7
  libbrotlidec       pkgs/main/osx-64::libbrotlidec-1.0.9-hca72f7f_7
  libbrotlienc       pkgs/main/osx-64::libbrotlienc-1.0.9-hca72f7f_7
  libdeflate         pkgs/main/osx-64::libdeflate-1.8-h9ed2024_5
  libpng             pkgs/main/osx-64::libpng-1.6.37-ha441bb4_0
  libtiff            pkgs/main/osx-64::libtiff-4.4.0-h2ef1027_0
  libwebp            pkgs/main/osx-64::libwebp-1.2.2-h56c3ce4_0
  libwebp-base       pkgs/main/osx-64::libwebp-base-1.2.2-hca72f7f_0
  lz4-c              pkgs/main/osx-64::lz4-c-1.9.3-h23ab428_1
  matplotlib         pkgs/main/osx-64::matplotlib-3.5.2-py39hecd8cb5_0
  matplotlib-base    pkgs/main/osx-64::matplotlib-base-3.5.2-py39hfb0c5b7_0
  munkres            pkgs/main/noarch::munkres-1.1.4-py_0
  pillow             pkgs/main/osx-64::pillow-9.2.0-py39hde71d04_1
  zstd               pkgs/main/osx-64::zstd-1.5.2-hcb37349_0


Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Retrieving notices: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [15]:
twitter_data = pd.read_csv('twitter_sentiment_selfdrive_DFE.csv', encoding = "ISO-8859-1", engine='python')

In [16]:
twitter_data.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,sentiment,sentiment:confidence,our_id,sentiment_gold,sentiment_gold_reason,text
0,724227031,True,golden,236,NaN,5,0.7579,10001,5\n4,Author is excited about the development of the...,Two places I'd invest all my money if I could:...
1,724227032,True,golden,231,NaN,5,0.8775,10002,5\n4,Author is excited that driverless cars will be...,Awesome! Google driverless cars will help the ...
2,724227033,True,golden,233,NaN,2,0.6805,10003,2\n1,The author is skeptical of the safety and reli...,If Google maps can't keep up with road constru...
3,724227034,True,golden,240,NaN,2,0.8820,10004,2\n1,The author is skeptical of the project's value.,Autonomous cars seem way overhyped given the t...
4,724227035,True,golden,240,NaN,3,1.0000,10005,3,Author is making an observation without expres...,Just saw Google self-driving car on I-34. It w...

In [18]:
airline_data = pd.read_csv('Airline-Sentiment-2-w-AA.csv', encoding = "ISO-8859-1", engine='python')

In [19]:
airline_data.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,airline_sentiment,airline_sentiment:confidence,negativereason,negativereason:confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone
0,681448150,False,finalized,3,2/25/15 5:24,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2/24/15 11:35,5.703060e+17,NaN,Eastern Time (US & Canada)
1,681448153,False,finalized,3,2/25/15 1:53,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2/24/15 11:15,5.703010e+17,NaN,Pacific Time (US & Canada)
2,681448156,False,finalized,3,2/25/15 10:01,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2/24/15 11:15,5.703010e+17,Lets Play,Central Time (US & Canada)
3,681448158,False,finalized,3,2/25/15 3:05,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2/24/15 11:15,5.703010e+17,NaN,Pacific Time (US & Canada)
4,681448159,False,finalized,3,2/25/15 5:50,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2/24/15 11:14,5.703010e+17,NaN,Pacific Time (US & Canada)

In [20]:
airline_data.dtypes

_unit_id                          int64
_golden                            bool
_unit_state                      object
_trusted_judgments                int64
_last_judgment_at                object
airline_sentiment                object
airline_sentiment:confidence    float64
negativereason                   object
negativereason:confidence       float64
airline                          object
airline_sentiment_gold           object
name                             object
negativereason_gold              object
retweet_count                     int64
text                             object
tweet_coord                      object
tweet_created                    object
tweet_id                        float64
tweet_location                   object
user_timezone                    object
dtype: object

In [21]:
twitter_data.dtypes

_unit_id                   int64
_golden                     bool
_unit_state               object
_trusted_judgments         int64
_last_judgment_at         object
sentiment                 object
sentiment:confidence     float64
our_id                     int64
sentiment_gold            object
sentiment_gold_reason     object
text                      object
dtype: object

In [22]:
airline_data.info

<bound method DataFrame.info of         _unit_id  _golden _unit_state  _trusted_judgments _last_judgment_at  \
0      681448150    False   finalized                   3      2/25/15 5:24
1      681448153    False   finalized                   3      2/25/15 1:53
2      681448156    False   finalized                   3     2/25/15 10:01
3      681448158    False   finalized                   3      2/25/15 3:05
4      681448159    False   finalized                   3      2/25/15 5:50
...          ...      ...         ...                 ...               ...
14635  681679794    False   finalized                   3     2/25/15 19:46
14636  681679795    False   finalized                   3     2/25/15 19:14
14637  681679796    False   finalized                   3     2/25/15 19:04
14638  681679797    False   finalized                   3     2/25/15 18:59
14639  681679798    False   finalized                   3     2/25/15 19:06

      airline_sentiment  airline_sentiment:confidence          negativereason  \
0               neutral                        1.0000                     NaN
1              positive                        0.3486                     NaN
2               neutral                        0.6837                     NaN
3              negative                        1.0000              Bad Flight
4              negative                        1.0000              Can't Tell
...                 ...                           ...                     ...
14635          positive                        0.3487                     NaN
14636          negative                        1.0000  Customer Service Issue
14637           neutral                        1.0000                     NaN
14638          negative                        1.0000  Customer Service Issue
14639           neutral                        0.6771                     NaN

       negativereason:confidence         airline airline_sentiment_gold  \
0                            NaN  Virgin America                    NaN
1                         0.0000  Virgin America                    NaN
2                            NaN  Virgin America                    NaN
3                         0.7033  Virgin America                    NaN
4                         1.0000  Virgin America                    NaN
...                          ...             ...                    ...
14635                     0.0000        American                    NaN
14636                     1.0000        American                    NaN
14637                        NaN        American                    NaN
14638                     0.6659        American                    NaN
14639                     0.0000        American                    NaN

                  name negativereason_gold  retweet_count  \
0              cairdin                 NaN              0
1             jnardino                 NaN              0
2           yvonnalynn                 NaN              0
3             jnardino                 NaN              0
4             jnardino                 NaN              0
...                ...                 ...            ...
14635  KristenReenders                 NaN              0
14636         itsropes                 NaN              0
14637         sanyabun                 NaN              0
14638       SraJackson                 NaN              0
14639        daviddtwu                 NaN              0

                                                    text tweet_coord  \
0                    @VirginAmerica What @dhepburn said.         NaN
1      @VirginAmerica plus you've added commercials t...         NaN
2      @VirginAmerica I didn't today... Must mean I n...         NaN
3      @VirginAmerica it's really aggressive to blast...         NaN
4      @VirginAmerica and it's a really big bad thing...         NaN
...                                                  ...         ...
14635  @AmericanAir thank you we got on a different f...         NaN
14636  @AmericanAir leaving over 20 minutes Late Flig...         NaN
14637  @AmericanAir Please bring American Airlines to...         NaN
14638  @AmericanAir you have my money, you change my ...         NaN
14639  @AmericanAir we have 8 ppl so we need 2 know h...         NaN

       tweet_created      tweet_id tweet_location               user_timezone
0      2/24/15 11:35  5.703060e+17            NaN  Eastern Time (US & Canada)
1      2/24/15 11:15  5.703010e+17            NaN  Pacific Time (US & Canada)
2      2/24/15 11:15  5.703010e+17      Lets Play  Central Time (US & Canada)
3      2/24/15 11:15  5.703010e+17            NaN  Pacific Time (US & Canada)
4      2/24/15 11:14  5.703010e+17            NaN  Pacific Time (US & Canada)
...              ...           ...            ...                         ...
14635  2/22/15 12:01  5.695880e+17            NaN                         NaN
14636  2/22/15 11:59  5.695870e+17          Texas                         NaN
14637  2/22/15 11:59  5.695870e+17  Nigeria,lagos                         NaN
14638  2/22/15 11:59  5.695870e+17     New Jersey  Eastern Time (US & Canada)
14639  2/22/15 11:58  5.695870e+17     dallas, TX                         NaN

[14640 rows x 20 columns]>

In [23]:
twitter_data.info

<bound method DataFrame.info of        _unit_id  _golden _unit_state  _trusted_judgments _last_judgment_at  \
0     724227031     True      golden                 236               NaN
1     724227032     True      golden                 231               NaN
2     724227033     True      golden                 233               NaN
3     724227034     True      golden                 240               NaN
4     724227035     True      golden                 240               NaN
...         ...      ...         ...                 ...               ...
7151  726942339     True      golden                  65               NaN
7152  726942340     True      golden                  71               NaN
7153  726942341     True      golden                  63               NaN
7154  726942342     True      golden                  67               NaN
7155  726942343     True      golden                  83               NaN

         sentiment  sentiment:confidence  our_id sentiment_gold  \
0                5                0.7579   10001           5\n4
1                5                0.8775   10002           5\n4
2                2                0.6805   10003           2\n1
3                2                0.8820   10004           2\n1
4                3                1.0000   10005              3
...            ...                   ...     ...            ...
7151  not_relevant                0.5616   10073   not_relevant
7152  not_relevant                0.7293   10074   not_relevant
7153  not_relevant                0.8854   10075   not_relevant
7154  not_relevant                0.8431   10076   not_relevant
7155  not_relevant                1.0000   10077   not_relevant

                                  sentiment_gold_reason  \
0     Author is excited about the development of the...
1     Author is excited that driverless cars will be...
2     The author is skeptical of the safety and reli...
3       The author is skeptical of the project's value.
4     Author is making an observation without expres...
...                                                 ...
7151  Trains (metros) are not relevant to the focus ...
7152                      Outside the scope of the task
7153                      Outside the scope of the task
7154                      Outside the scope of the task
7155                      Outside the scope of the task

                                                   text
0     Two places I'd invest all my money if I could:...
1     Awesome! Google driverless cars will help the ...
2     If Google maps can't keep up with road constru...
3     Autonomous cars seem way overhyped given the t...
4     Just saw Google self-driving car on I-34. It w...
...                                                 ...
7151  Washington DC metro trains are all self-drivin...
7152  I think #DARPA works on autonomous drone techn...
7153  I love the idea of driving myself to the denti...
7154  Who likes cars these days? No me. Too expensiv...
7155  My dream car is a pink cadillac. I'd also need...

[7156 rows x 11 columns]>

# research dataframes above

## to do: visualizations